BOT_NAME=Diana Bot
BOT_PREFIXES=!,.,/
BOT_PHONE_NUMBER=
PAIRING_CODE=DIANABOT
PAIRING_WAIT_MS=180000
RESET_STALE_PAIRING_SESSION=true
BROWSER_NAME=Safari
OWNER_NUMBER=628385863327
ADMIN_NUMBERS=
PREMIUM_NUMBERS=
LOG_LEVEL=info
WA_LOG_LEVEL=silent
AUTO_READ=false
SESSION_DIR=./database/session
DATABASE_FILE=./database/data.json
CUSTOM_REPLY_ENABLED=true
CUSTOM_REPLY_FORWARDED=true
CUSTOM_REPLY_FORWARDING_SCORE=0
CUSTOM_REPLY_CHANNEL_ID=120363423953253980@newsletter
CUSTOM_REPLY_CHANNEL_NAME=👧 ᴅɪᴀɴᴀ - ʙᴏᴛ
CUSTOM_REPLY_TITLE=👧 ᴅɪᴀɴᴀ - ʙᴏᴛ
CUSTOM_REPLY_BODY=Powered by shileys
CUSTOM_REPLY_THUMBNAIL_URL=
CUSTOM_REPLY_SOURCE_URL=https://github.com/Shikytemo/diana-bot
